.ant-collapse > .ant-collapse-item > .ant-collapse-header {
    color: $primary;
    font: $menu-header;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    padding: 0;
}

.ant-collapse-content {
    color: $text;
    font: $menu-item;
}

.ant-collapse-content > .ant-collapse-content-box {
    padding: 0 0 0 48px;
}