
$primary: #FEB700;

$background: #151515;

$background-overlay: rgba(255,255,255,0.1);

$container: #595858;

$overlay: rgba(83, 92, 106, 0.54);

$text: #fff;

$placeholder: rgba(255, 255, 255, 0.6);

$btn-text: #fff;

$dark-bg: #000

