@import url('https://fonts.googleapis.com/css2?family=Abel&family=Harmattan:wght@400;700&family=K2D:wght@400;700&display=swap');


$section-text: 18px 'Abel', sans-serif;

$logo-text: 40px 'Abel', sans-serif;

$title: 400 26px 'K2D', sans-serif;

$menu-header: 400 20px 'K2D', sans-serif;

$menu-item: 400 16px 'K2D', sans-serif;

$placeholder-text: 700 16px 'Harmattan', sans-serif;

$input-text: 700 20px 'Harmattan', sans-serif;

$btn: 700 16px 'K2D', sans-serif;

$avatar: 700 16px 'K2D', sans-serif;
